
.widget-container {
    text-align: center;
}

.indicator-circle {
    fill: #f1f1f1;
}

.progress-text {
    fill: #A4A4A4;
    font-size: 12px;
    font-family: Arial;
}

.progress-text .percent {
    font-size: 18px;
    fill: #5D5D5D;
    font-family: Avenir;
}

.progress-text .actual {
    font-size: 30px;
    fill: #5D5D5D;
    font-family: Avenir;
}

.progress-bar {
    stroke: #000;
    stroke-width: 3px;
}

.outer-bar {
    stroke-width: 6px;
}

.all-good {
    stroke: #78C000;
}

.normal {
    stroke: #C7E596;
}

.not-so-good {
    stroke: #F7650B;
}

.way-behind {
    stroke: #CB1616;
}
