
.widget-container {
    text-align: center;
}

.indicator-circle {
    fill: #f1f1f1;
}

.progress-text {
    fill: #000;
    font-size: 14px;
}

.progress-text.actual {
    font-size: 30px;
}

.progress-bar {
    stroke: #000;
    stroke-width: 2px;
}

.all-good {
    stroke: #7FFE07;
}

.not-so-good {
    stroke: #FC65FE;
}

.way-behind {
    stroke: #77193D;
}
